body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
}

header{
    background-color: gainsboro;
    height: 150px;
    padding: 15px;
}

nav{
    background-color: aliceblue;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

nav ul{
    list-style-type: none;
    padding: 20px;
}

article{
    width: 70%;
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 23px;
}

footer{
    background-color: aquamarine;
    padding: 20px;
}
